<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vet Patient Tracker</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Vet Patient Tracker</a>
      </h1>
       <nav>
         <button id="logout" class="btn-no-style">logout</button>
         <button id="login" class="btn-no-style">login</button> 
    </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for your work!
    </footer>
  </div>
<script src="/javascript/main.js"></script>
</body>

</html>