
<ol class="pet-list">
    {{#each pets as |pet|}}
  <li>
    <article class="pet">
      <div class="title">
        <a href="/pet/{{pet.id}}">
        {{pet.pet_name}}
        </a>
      </div>
      <div class="pet">
        species: {{pet.species}}
      </div>
       <div class="pet">
        breed: {{pet.breed}}
      </div>
    </article>
  </li>
  {{/each}}
</ol>
